<launch>
      <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
     </node>

            <arg name="fcu_url" default="/dev/ttyACM0:57600" />
	        <arg name="gcs_url" default="" />
	        <arg name="tgt_system" default="1" />
	        <arg name="tgt_component" default="1" />
	        <arg name="log_output" default="screen" />
	        <arg name="fcu_protocol" default="v2.0" />
	        <arg name="respawn_mavros" default="false" />

	    <include file="$(find mavros)/launch/node.launch">
		    <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		    <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
		    <arg name="fcu_url" value="$(arg fcu_url)" />
		    <arg name="gcs_url" value="$(arg gcs_url)" />
		    <arg name="tgt_system" value="$(arg tgt_system)" />
		    <arg name="tgt_component" value="$(arg tgt_component)" />
		    <arg name="log_output" value="$(arg log_output)" />
		    <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		    <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	    </include>
        <node pkg="px4_control" type="px4_control_node" name="px4_control" output="screen">
        </node>
        <node pkg="ai_landing" type="processor.py" name="ai_landing" output="screen">
        </node>
</launch>